.preview-card {
  background-color: var(--white);
  border-radius: 8px;
  overflow: hidden;
  max-width: 600px;

  .info-wrapper {
    padding: 1.25rem;
  }

  .type {
    text-transform: uppercase;
    letter-spacing: 4px;
    color: var(--darkGrayBlue);
    padding-bottom: 0.75rem;
    font-size: 0.75rem;
  }

  .name {
    font-family: var(--ff-accent);
    line-height: 30px;
    padding-bottom: 1rem;
    font-size: 2rem;
  }

  .description {
    font-size: var(--paragraph);
    color: var(--darkGrayBlue);
    padding-bottom: 1rem;
    line-height: 25px;
  }

  .price-group {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-bottom: 1rem;
    align-items: center;
  }

  .new-price {
    font-family: var(--ff-accent);
    font-size: 2rem;
  }

  .new-price {
    color: var(--darkCyan);
  }

  .original-price {
    color: var(--darkGrayBlue);
    text-decoration: line-through;
    font-size: var(--fs-paragraph);
  }

  .buy-btn {
    background-color: var(--darkCyan);
    border: none;
    color: var(--white);
    font-weight: var(--fw-regular);
    padding: 0.75rem 2rem;
    width: 100%;
    border-radius: 8px;
    cursor: pointer;

    &::before {
      content: "";
      display: inline-block;
      background-image: url("./assets/icon-cart.svg");
      background-repeat: no-repeat;
      width: 20px;
      height: 16px;
    }

    &:hover {
      background-color: var(--darkCyanHover);
    }
  }
}

@media screen and (min-width: 600px){
  .preview-card {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .info-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}